{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}
This is my about body
<div class="container marketing">
    <div class="card-header py-3">
        <h1 class="text-dark mt-5" style="text-align:center; font-size: 3.25rem;font-weight: 500;">  About Us</h1>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <p> <h6 style="display: inline;">Welcome</h6> to our <strong>SocialDotReal</strong> focused on fake account detection! Our mission is to develop an innovative solution that helps  users identify and report fake accounts on social media platforms.
        <br>
        <br>
           We came up with the idea for this project after noticing an increase in fake accounts on social media and the negative impact they can have on individuals and society as a whole.
            <br><br>
            Our team is made up of three members who bring diverse skills and expertise to this project:
            <ul>
            <li><strong>Kunal Wadhwani</strong> is a computer science student with experience in project development. He is passionate about using data to solve complex problems and has worked on a variety of data-driven projects in the past.</li>
            <br>
            <li><strong>Harsh Lulla</strong> is a software engineering student with a background in web development. He has experience designing and building user interfaces for a variety of applications and is committed to making our fake account detection tool easy to use and accessible to everyone.</li>
            <br>
            <li><strong>Yash Ahuja</strong> is a Machine science enthusiast who is interested in using data analysis to drive meaningful insights. He has experience working with Machine learning techniques and is excited to apply these skills to the problem of fake account detection.</li>
        </ul>
        Together, we are committed to developing an innovative solution that helps users identify fake accounts of social media platforms. We believe that by empowering users to take action against fake accounts, we can make social media a safer and more trustworthy space for everyone.
        <br>
        <br>
        Thank you for visiting our website and we look forward to sharing our progress with you. If you have any questions or feedback, please don't hesitate to contact us using the form on our contact page.
        </p>
        
    </div>
</div>
{% endblock body %}
