{% extends 'base.html' %}
{% block title %}
Detector
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock styles %}
{% block cdn %}

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->

{% endblock cdn %}


{% block body %}
<!-- <section class="hero is-dark is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Paste the link of account
        </p>
    
        <div class="control is-loading">
            <input class="input" type="text" placeholder="Loading input">
          </div>
          <br>
            </br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Posts</p>
                <p class="title">3,456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Followers</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
              </div>
            </div>
          </nav>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
        </div>
      </nav>
    </div>
  </section> -->
<!-- <body>
    <div class="content">
      
      <div class="container">
        <div class="row align-items-stretch no-gutters contact-wrap">
          <div class="col-md-12">
            <div class="form h-100">
              <h3>Enter account name to check</h3>
              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-6 form-group mb-4 mt-5">
                    <div class="input-group flex-nowrap start-50">
                      <span class="input-group-text" id="addon-wrapping">@</span>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-7">
                    <input type="submit" value="Check Account" class="btn btn-primary rounded-0 py-2 px-4 mt-4" style="margin-left: -12px;">
                  <span class="submitting"></span> 
                  </div>
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    </body> -->
<!-- {{ datavalue }} -->
<body>
  <div class="content mx-5">
    
    <form class="align-items-center mx-5" method="post">
      {% csrf_token %}
      <div class=" card  align-items-stretch mx-5" >
        <h4 class="card-header px-5 font-monospace">Enter Instagram Username</h4>
        <div class="card-body px-5 py-4">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
          <div class="input-group  py-4">
            <div class="input-group-text">@</div>
            <input type="text" name="Username" class="form-control font-monospace" id="autoSizingInputGroup" placeholder="Username">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </div>
  </form>
  </div>
</body>
{% endblock body %}