{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="/static/images/3.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Welcome, To SocialDotReal</h5>
            <p>We identify FakeAccounts!!</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="/static/images/1.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Welcome, To SocialDotReal</h5>
            <p>We identify FakeAccounts!!</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="/static/images/4.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Welcome, To SocialDotReal</h5>
            <p>We identify FakeAccounts!!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% comment %} need of the project {% endcomment %}
<div class="container marketing">
    <div class="card-header py-3">
        <h1 class="text-dark mt-5" style="text-align:center; font-size: 3.25rem;font-weight: 500;">  Need of SocialDotReal</h1>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <p> The number of social media users is increasing exponentially, but so is the number of fake accounts. Fake accounts are used to spread spam, provide false product reviews, publish false news, and even interfere with political campaigns. In business, fake accounts can cause significant harm by wasting money, causing reputational damage, causing legal issues, and many other things. Because of the enormous growth of the online social network, the number of fake accounts is increasing dramatically; thus, such accounts must be detected. A system for detecting fake accounts is required. Our website <strong>"SocialDotReal"</strong> aims to provide users with a platform for determining whether a social media account is fake or real based on the user's input parameters.</p>
        
    </div>
</div>
</div>



<!-- How it works -->
<div class="container marketing">
    <h1 class="text-dark mt-5" style="text-align:center; font-size: 3.25rem;font-weight: 500;">How it works</h1>
    <hr class="featurette-divider my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color: #384272;">Step 1. <span >Go to Detector Page</span></h2>
            <p class="text-dark" style="font-size: 1.25rem;font-weight: 500;">Click on Detector tab in Nagivation Bar to locate.</p>
        </div>
        <div class="col-md-5">
            
                <title>Placeholder</title>
                <div class="sticky-top"><img src="/static/images/IMG1.jpg" class=" mw-100 mh-100 float-right"  ></img></div>
        </div>
    </div>
    <hr class="featurette-divider my-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <!-- <h2 class="featurette-heading">Step 2. <span class="text-muted">Select the detection algorithm.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p> -->
            <h2 class="featurette-heading " style="color: #0e59c9;">Step 2. <span >Enter Instagram Id into the form and Submit</span></h2>
            <p class="text-dark" style="font-size: 1.25rem;font-weight: 500;" >We have used three different algorithms</p>
        </div>
        <div class="col-md-5 order-md-1">
            
                <title>Placeholder</title>
                <div class="sticky-top"><img src="/static/images/img2.JPG" class="float-left"  ></img></div>
            
        </div>
    </div>
    <hr class="featurette-divider my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading text-success">Step 3. <span class="text-success">View Results.</span></h2>
            <p class="text-dark"style="font-size: 1.25rem;font-weight: 500;" >Check the Results Based On UserData.</p>
        </div>
        <div class="col-md-5">
            <div class="col-md-5 order-md-1">
            
                <title>Placeholder</title>
                <div class="sticky-top"><img src="/static/images/img3.JPG" class="mw-100 mh-100 float-right"></img></div>
            
        </div
                
        </div>
    </div>
</div>
<footer class="container my-4">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2022-2023 SocialDotReal, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
{% endblock body %}

